footer {
    color: #eef6ec!important;
}

footer span {
    color: #eef6ec!important;
}

.beian {
    color: #eef6ec!important;
}

.beian span {
    color: #eef6ec!important;
}

.beian a {
    color: #eef6ec!important;
}